.textArea{
    display: flex;
    width:100%;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    height: 10vh;
    resize: none;
}
textarea::-webkit-scrollbar { width: 0; }
textarea { -ms-overflow-style: none; }

.EnterTextArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 4px 0 4px;
}

textarea{
    max-height: 8vh;
    min-height: 8vh;
}