.noResize{
    resize: none;
}
textarea::-webkit-scrollbar { width: 0; }
textarea { -ms-overflow-style: none; }

.EnterTextArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 4px 0 4px;
}

textarea{

    resize:none;
}